#.npmrc
@junglescout:registry=https://junglescout-171626355229.d.codeartifact.us-west-2.amazonaws.com/npm/junglescout-packages/
//junglescout-171626355229.d.codeartifact.us-west-2.amazonaws.com/npm/junglescout-packages/:always-auth=true
//junglescout-171626355229.d.codeartifact.us-west-2.amazonaws.com/npm/junglescout-packages/:_authToken=${NPM_TOKEN}